#tasks-in-calendar{
    position: relative;
}
#calendar-layer{
    border-collapse: collapse;
}
#calendar-layer th {
    font-size: 12px;
    text-align: center;
}
.border-top{
    border-top: 1px solid #636363;
}
.border-right{
    border-right: 1px solid #636363;
}        
#calendar-layer td {
    font-size: 11px;
    text-align: right;
    vertical-align: top;
}
.subline td{
    height: 70px;
}
#calendar-layer .today{
    font-weight: bold;
    background: #fffdcd;
}
#tasks-layer {
    position: absolute;
    top: 17px;
    left: 0px;
    width: 937px;
}
.week{
  width: 639px;
  margin-top: 15px;
  width: 100%;
  height: 58px;
}
/*
.foreseen{
    border: 1px solid #fff;
    background: #a8a8a8;
    width: 100%;  
    height: 13px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor:pointer;
}*/
.task-description {
    color: #fff;
    margin: 0px 15px;
    position: relative;
}
.stage {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    width: 100%;
    height: 13px;
}
.finished{
    background: #2a7bc1;
}
.late .foreseen{
    background: #ed4230;
}
.interval-day-0{
    width: 0px;
}
.interval-day-1{
    width: 122px;
}
.interval-day-2{
    width: 256px;
}
.interval-day-3{
    width: 389px;
}
.interval-day-4{
    width: 524px;
}
.interval-day-5{
    width: 658px;
}
.interval-day-6{
    width: 793px;
}
.interval-day-7{
    width: 928px;
}
.start-day-1{
    margin-left: 5px;
}
.start-day-2{
    margin-left: 140px;
}
.start-day-3{
    margin-left: 274px;
}
.start-day-4{
    margin-left: 407px;
}
.start-day-5{
    margin-left: 541px;
}
.start-day-6{
    margin-left: 675px;
}
.start-day-7{
    margin-left: 810px;
}
.continue-right,.continue-right .stage{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.continue-left,.continue-left .stage{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.hashtags{
    width: 117px;
    position: absolute;
    top: 13px;
}
.hashtags span{
    margin-right: 5px;
}
.hashtags .late{
    color:#ff0000;
}
.hashtags .overtime{
    color:#e8be43;
}
.task-day-1{
    left: 3px;
}
.task-day-2{
    left: 137px;
}
.task-day-3{
    left: 270px;
}
.task-day-4{
    left: 404px;
}
.task-day-5{
    left: 539px;
}
.task-day-6{
    left: 673px;
}
.task-day-7{
    left: 807px;
}
#finish, #replan, #cancel{
    display: none;
}
#iteraction-form{
    display: none;
}
.startDay {
    width: 180px;
    margin-right: 10px;
}

.foreseenQtd, .float-window select.foreseenType {
    width: 99px;
    margin-right: 5px;
}

.field span.label{
    font-size: 14px;
    margin: 0px 10px;
}

.repeat-field {
    margin-top: 5px;
    min-height: 0px !important;
}

#repeat-value{
    width: 299px;
}

/* New calendar */

<<<<<<< Updated upstream
#task-board {
    overflow: scroll-bottom;
    margin-bottom: 20px;
    border: 1px solid red;
    height: 500px;
}

#task-board .day{
    border: 1px solid #f3f3f3;
    float: left;
    width: 100px;
    height: 100px;
}

#calendar-layer th{
    height: 29px;
    font-size: 14px;
}

.late .foreseen{
    background: #ed4230;
}

.task-line td {
    background-color: #fff;
}

.task-line div {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.task-line .cell-weekend{
    background-color: #f3f3f3;
}

.task-line .cell-weekend .in-task{
    border-top: 2px solid #4F4F4F;
    border-bottom: 2px solid #4F4F4F;
}

.task-line .cell-waiting {
    background-color: #a8a8a8;
    cursor: pointer;
    border-top: 2px solid #4F4F4F;
    border-bottom: 2px solid #4F4F4F;
}

.task-line .cell-doing {
    background-color: #37b247;
    cursor: pointer;
    border-top: 2px solid #4F4F4F;
    border-bottom: 2px solid #4F4F4F;
}

.task-line .head {
    border-left: 2px solid #4F4F4F;
}

.task-line .tail {
    border-right: 2px solid #4F4F4F;
}

.task-line .cell-finished {
    background-color: #2a7bc1;
    cursor: pointer;
}

.task-line .task-label{
    position: absolute;
    margin: -9px 10px 0px;
    padding: 1px 5px;
    color: #4F4F4F;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #4F4F4F;
    border-radius: 3px;
}

.task-line-header {
    font-size: 16px;
    font-weight: bold;
}

/* New CSS*/

#task-board-scroll{
    overflow: auto;
    height: 500px;
}

#task-board {
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    height: 460px;
    width: 3162px;
    position: relative;
    overflow: hidden;
}

#task-board .day{
    border-right: 1px solid #d3d3d3;
    float: left;
    width: 100px;
    height: 460px;
}

.day h4 {
    border-bottom: 1px solid #d3d3d3;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}

.day.weekend{
    background-color: #f0f0f0;
    position: relative;
}

.day.today{
    background-color: #fffdcd;
}

.day.today h4{
    font-weight: bold;
}

.task{
    cursor: pointer;
    position: absolute;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #d3d3d3;
    overflow: hidden;
}

.task.no_end, .task.no_end div{
    border-bottom-right-radius: 0px !important;
}

.task.no_begin, .task.no_begin div{
    border-top-left-radius: 0px !important;
}

.task .task-label{
    color: #242425;
    font-size: 11px;
    position: relative;
    z-index: 999999;
    padding: 3px 0px 1px 30px;
    width: 3000px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.weekend .task-continuation{
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height: 20px !important;
    padding: 0px 0px !important;
}

.task .progress {
    padding: 3px 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.task.doing{
    background-color: #99cc99;
}

.task.doing .progress {
    background-color: #37b247;
}

.task.late{
    background-color: #f9aba2;
}

.task.late .progress {
    background-color: red;
}
.task.late .foreseen{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #9C9;
    padding: 12px 0px;
    position: absolute;
}

.task.waiting {
    background-color: #a8a8a8;
}

.task.finished {
    background-color: #a3b6c8;
}

.task.finished .progress {
    background-color: #2a7bc1;
}

#task-amount{
    float: left;
    font-size: 15px;
    padding-top: 7px;
}