*{
    font: 10px Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #4f4f4f;

}
body{
    background: #f4f4f4;
}
#header{
    height: 50px;
    background: #323a45;
    padding: 10px 33px;
    position:relative;
}
h1{
    color: #b1b3b9;
    font-size: 29px;
    margin-top: 5px;
}
#user{
    position:absolute;
    top: 19px;
    right: 33px;
    z-index: 999999;
}
.ui-menu {
    width: 100px;
}
#main{
    margin: 0px auto;
    width: 1220px;
}
#top-main{
    height: 90px;
}

#main-navigation-panel {
    position:absolute;
    top: 35px;
    right: 200px;
    z-index: 999999;
}

.main-navigation-item {
    margin-right: 20px;
    color: #b1b3b9;    
    font-size: 16px;
    font-weight: bold;
}
.main-navigation-item-current {
    margin-right: 20px;
    color: #b1b3b9;    
    font-size: 16px;
}

.btn, .btn-no-icon{
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border-radius: 3px;
    font-size: 14px;    
    color: #fff;
}
.btn {
    padding: 11px 15px 11px 45px;
}
.btn-no-icon {
    padding: 11px 15px 11px 15px;
}

.green{
    background: #3fa34b;
    border: 0;
    float: right;
}
.red{
    background: #e03f33;
    border: 0;
    float: right;
}
.blue{
    background: #377db7;
    border: 0;
    float: right;
}
.gray{
    background: #f4f4f4;
    border: 0;
}
#top-main .btn.green{
    margin-top: 39px;
    margin-left: 10px;
}
.icon{
    font-size: 15px;
    font-weight: bold;
    padding: 0px 5px 0px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 13px;
}
.green .icon{
    background: #2a7f32;
    color: #57b262;
}
.red .icon{
    background: #b72f28;
    color: #e03f33;
}
.blue .icon{
    background: #17598c;
    color: #377db7;
}
#container-left{
    width: 220px;
    min-height: 300px;
    float: left;
}
#container-right{
    width: 940px;
    margin-left: 230px;
    padding: 10px 25px ;
    box-shadow: -12px -12px 30px -20px #888;
    margin-bottom: 10px;
    background: #fff;
}
#navigation{
    margin-bottom: 15px;
    padding: 10px 0px;
    height: 24px;
    position: relative;
}
#navigation h3{
    font-size: 20px;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    z-index: 99999;
}
#paginate{
    float:right;
    position: relative;
    z-index: 999999;
    top: -9px;
}
#paginate a{
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
#paginate a:hover{
    text-decoration: none;
}
#paginate .previous{
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    padding: 10px;
}
#paginate .next{
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
}
#task-history{
    margin: 30px 0px;
    position: relative;
}
#task-history h3{
    font-size: 22px;
    font-weight: bold;
}
#btn-task-history{
    display: none;
}
#iteraction-menu{
    position: absolute;
    margin-top: -45px;
    right: 0px;
}
#iteraction-menu .btn{
    margin-left: 10px;
}
#task-description{
    font-size: 15px;
    margin: 15px 0px 5px;
}
#iteraction-form{
    border-top: 1px solid #636363;
    padding: 10px 0px 0px;
    margin-top: 10px;
}
#iteraction-form label{
    font-size: 13px;
}
#comentary{
    border: 1px solid #636363;
    height: 70px;
    width: 800px;
    margin: 10px 0px 5px;
    border-radius: 4px;
}
#add_comentary,#remove_comentary,#file_upload{
    padding: 16px;
    margin-left: 5px;
    top: 30px;
}
#add_comentary span,#remove_comentary span, #file_upload span{
    top:5px;
    left:6px;
}
#remove_comentary span{
    font-size: 17px;
    top: 6px;
}
#timeline{
    border-top: 1px solid #636363;
    margin: 10px 0px;
    padding-top: 20px;
}
.post{
    position: relative;
}
.datetime{
    position: absolute;
    font-size: 13px;
    top: 22px;
}
.timeline_dot{
    border-left: 3px solid #dbdbdb;
    margin-left: 145px;
    padding: 10px 0px;
    position: relative;
}
.dot{
    width: 17px;
    height: 17px;
    border: 3px solid #fff;
    border-radius: 20px;
    background: #dbdbdb;
    position: absolute;
    left: -13px;
    top: 19px;
}
.speak_ballon{
    padding: 15px 20px;
    margin-left: 40px;
    border-radius: 5px;
    background: #f2f2f2;
    border: #aaaaaa solid 1px;
    position: relative;
}
.overtime .speak_ballon{
    background: #fffcdb;
    border: #f2db13 solid 1px;
}
.late .speak_ballon{    
    border: 1px solid #ed4230;
    background: #ffe5e5;
}
.arrow{
    border: 10px solid #fff;
    border-right: 15px solid #aaaaaa;
    position: absolute;
    top: 10px;
    left: -25px;
}
.late .arrow{
    border-right: 15px solid #ed4230;
}
.overtime .arrow{
    border-right: 15px solid #f2db13;
}
.speak_ballon p{
    font-size: 13px;
}
.speak_ballon p span{
    font-size: 13px;
    font-weight: bold;
}
.speaker{
    font-weight: bold;
    margin-bottom: 7px;
}
.filter-group{
    margin-bottom: 25px;
}
.filter-group h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.constraint{
    margin-bottom: 10px;
}
.constraint label{
    font-size: 14px;
}

.block-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display:none;
}
.float-window{
    background: #fff;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
}
.addTaskWindow{
    width: 470px;
    height:420px;
    margin-top: -200px;
    margin-left: -250px;
}
.changePassWindow{
    width: 241px;
    height: 240px;
    margin-top: -200px;
    margin-left: -150px;
}

.newUserWindow{
    width: 440px;
    height: 337px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -250px;
}

.buttonOKWindow{
    width: 250px;
    height: 240px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -150px;
}

.float-window h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.float-window .field{
    padding-bottom: 10px;
    min-height: 43px;
}
.float-window .field .format{
    color: red;
}
.float-window label{
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}
.float-window input, .float-window textarea, .float-window select{
    font-size: 14px;
    padding: 3px;
    border: 1px solid #636363;
    border-radius: 3px;
}

.changePass-input{
    width: 229px;
    margin-left: 3px;
}

.newUser-input{
	width: 203px;
}

.newUser-login{
	width: 100px;
}

.userbox{
    width: 449px;
    height: 10px;
    top: 103%;
    margin-top: -200px;
    left: 48%;
    margin-left: -250px;
	text-align: justify;
	
}

.userbox fieldset{
	
	padding: 5px;
}
.userbox legend{
	font-size: 14px;
    margin-bottom: 3px;
}

.userBottom{
	width: 440px;
	margin-left: 210px;
	padding-top: 15px;
	float: right !important;
}
.userbox-inside{
 float: left;
 width: 145px;

}

.checkbox-label{
	display: inline !important;
	padding-left: 3px;
}

.float-window select{
    width: 214px;
}
.float-window .half-left{
    float: left;
    width: 220px;
}
.float-window .half-right{
    width: 220px;
    margin-left: 255px;
}
.float-window textarea{
    width: 460px;
    height: 50px;
}
.float-window form .btn{
    margin-left: 10px;
}
#users span {
    padding: 5px 10px;
    background: #d3d3d3;
    font-size: 14px;
    margin-top: 10px;
    diplay: block;
    float: left;
}

.float-window .half-center{
    float: center;
    width: 240px;
}

#add-task-container{
    display:none;
}

#add-changePass-container{
    display:none;
}

#add-newUser-container{
    display:none;
}

#add-buttonOK-container{
    display:none;
}

#login-container{
    width: 300px;
    height: 150px;
    background: #FFF;
    position: relative;
    left: 50%;
    margin-left: -180px;
    margin-top: 100px;
    box-shadow: -17px 18px 20px -20px #888;
    padding: 30px;
}
#login-container label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
#login-container input {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #4f4f4f;
    border-radius: 3px;
    padding: 3px;
    width: 100%;
}
#login-btn{
    padding: 11px 15px 11px 15px;
    right: -5px;
}
.alert.begin{
    background: #ffe5e5;
}
.alert.end{
    background: #fff;
}
.alert{
    display: none;
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.alert p{
    color: red;
    font-size: 12px;
}
#iteraction-form .alert{
    margin-bottom: 0px;
}
h1 .sub1{
    color: #607792;
    font-size: 20px;
    margin-left: 5px;
}

h1 .sub2{
    color: #607792;
    font-size: 14px;
    position: relative;
    top: -5px;
}
.detail-label{
    font-size: 12px;
    font-weight: bold;
    margin: 0px 0px 5px;
}
.detail-label span{
    font-size: 12px;
    font-weight: normal;
}
#replan-task-container{
    height: 130px;
    margin-top: -110px;
    margin-left: -250px;
    display:none;
}
#replan-task-container .field{
    padding-bottom: 15px;
}

#top-menu {
    list-style: none;
    position: absolute;
    top: 26px;
    right: 165px;
}

#top-menu li {
    float: left;
    margin-left: 10px;
}

#top-menu li, #top-menu li a {
    color: #b1b3b9;
    font-size: 17px;
}

#top-menu li a {
    text-decoration: none;
    cursor: pointer;
}

#top-menu li a:hover {
    text-decoration: underline;
}

#top-menu li a.active {
    text-decoration: none;
    color: #607792;
}
.info{
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.info p{
    font-size: 12px;
}

#report-options-form .alert {
    font-size: 14px;
    margin-bottom: 5px;
}

#id-value{
    width: 243px;
}