*{
    font: 10px Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    color: #4f4f4f;

}
body{
    background: #f4f4f4;
}
#header{
    height: 50px;
    background: #323a45;
    padding: 10px 33px;
    position:relative;
}
h1{
    color: #b1b3b9;
    font-size: 29px;
    margin-top: 5px;
}
#user{
    position:absolute;
    top: 19px;
    right: 33px;
}
.ui-menu {
    width: 100px;
}
#main{
    margin: 0px auto;
    width: 1220px;
}
#top-main{
    height: 80px;
}
.btn{
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border-radius: 3px;
    font-size: 14px;
    padding: 11px 15px 11px 45px;
    color: #fff;
}
.green{
    background: #3fa34b;
    border: 0;
    float: right;
}
.red{
    background: #e03f33;
    border: 0;
    float: right;
}
.blue{
    background: #377db7;
    border: 0;
    float: right;
}
#btn_new{
    margin-top: 19px;
    margin-left: 10px;
}
.icon{
    font-size: 15px;
    font-weight: bold;
    padding: 0px 5px 0px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 13px;
}
.green .icon{
    background: #2a7f32;
    color: #57b262;
}
.red .icon{
    background: #b72f28;
    color: #e03f33;
}
.blue .icon{
    background: #17598c;
    color: #377db7;
}
#container-left{
    width: 220px;
    min-height: 300px;
    float: left;
}
#container-right{
    width: 940px;
    margin-left: 230px;
    padding: 10px 25px ;
    box-shadow: -12px -12px 30px -20px #888;
    margin-bottom: 10px;
    background: #fff;
}
#navigation{
    margin-bottom: 15px;
    padding: 10px 0px;
    height: 24px;
}
#navigation h3{
    font-size: 20px;
    float: left;
    position: relative;
    left: 50%;
    margin-left: -30px;
    z-index: 99999;
}
#paginate{
    float:right;
    position: relative;
    z-index: 999999;
    top: -9px;
}
#paginate a{
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
#paginate a:hover{
    text-decoration: none;
}
#paginate .previous{
    display: block;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    padding: 10px;
}
#paginate .next{
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
}
#task-history{
    margin: 30px 0px;
    position: relative;
}
#task-history h3{
    font-size: 22px;
    font-weight: bold;
}
#btn-task-history{
    display: none;
}
#iteraction-menu{
    position: absolute;
    top: 25px;
    right: 0px;
}
#iteraction-menu .btn{
    margin-left: 10px;
}
#task-description{
    font-size: 15px;
    margin: 15px 0px;
}
#iteraction-form{
    clear: both;
    border-top: 1px solid #636363;
    padding: 10px 0px 0px;
}
#iteraction-form label{
    font-size: 13px;
}
#comentary{
    border: 1px solid #636363;
    height: 70px;
    width: 851px;
    margin: 10px 0px 5px;
    border-radius: 4px;
}
#add_comentary,#remove_comentary{
    padding: 16px;
    margin-left: 10px;
    top: 30px;
}
#add_comentary span,#remove_comentary span{
    top:5px;
    left:6px;
}
#remove_comentary span{
    font-size: 17px;
    top: 6px;
}
#timeline{
    border-top: 1px solid #636363;
    margin: 10px 0px;
    padding-top: 20px;
}
.post{
    position: relative;
}
.datetime{
    position: absolute;
    font-size: 13px;
    top: 22px;
}
.timeline_dot{
    border-left: 3px solid #dbdbdb;
    margin-left: 145px;
    padding: 10px 0px;
    position: relative;
}
.dot{
    width: 17px;
    height: 17px;
    border: 3px solid #fff;
    border-radius: 20px;
    background: #dbdbdb;
    position: absolute;
    left: -13px;
    top: 19px;
}
.speak_ballon{
    padding: 15px 20px;
    margin-left: 40px;
    border-radius: 5px;
    background: #f2f2f2;
    border: #aaaaaa solid 1px;
    position: relative;
}
.overtime .speak_ballon{
    background: #fffcdb;
    border: #f2db13 solid 1px;
}
.late .speak_ballon{    
    border: 1px solid #ed4230;
    background: #ffe5e5;
}
.arrow{
    border: 10px solid #fff;
    border-right: 15px solid #aaaaaa;
    position: absolute;
    top: 10px;
    left: -25px;
}
.late .arrow{
    border-right: 15px solid #ed4230;
}
.overtime .arrow{
    border-right: 15px solid #f2db13;
}
.speak_ballon p{
    font-size: 13px;
}
.speak_ballon p span{
    font-size: 13px;
    font-weight: bold;
}
.speaker{
    font-weight: bold;
    margin-bottom: 7px;
}
.filter-group{
    margin-bottom: 25px;
}
.filter-group h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.constraint{
    margin-bottom: 10px;
}
.constraint label{
    font-size: 14px;
}

#block-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
#float-window{
    background: #fff;
    width: 470px;
    height: 370px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -250px;
    padding: 15px;
}
#float-window h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#float-window .field{
    padding-bottom: 10px;
    min-height: 43px;
}
#float-window label{
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
}
#float-window input, #float-window textarea, div.select-crud{
    font-size: 14px;
    padding: 3px;
    border: 1px solid #636363;
    border-radius: 3px;
}
#float-window .half-left{
    float: left;
    width: 240px;
}
#float-window .half-right{
    width: 240px;
    margin-left: 255px;
}
#float-window textarea{
    width: 460px;
    height: 50px;
}
#float-window #salve-register, #float-window #cancel-register{
    margin-left: 10px;
}