table {
    border: 1px solid #111111;
    border-spacing: 0px;
}

th {
    background-color: #323a45;
    color: #f9f9f9;
    font-weight: bold;
    padding: 3px;
}

td {
    background-color: #ffffff;
    padding: 3px;
}

#report-options-form {
    padding-top: 20px;
}

#report-options-form label {
    font-size: 14px;
    display: block;
}

#report-options-form select {
    font-size: 14px;
}

#report-options-form input {
    font-size: 14px;
}

#report-options-form option {
    font-size: 14px;
    padding-right: 20px;
}

#report-area {
    height: 600px;
}

#report-area table {
    margin-top: 15px;
}

th {
    background-color: #2A7BC1;
}
th.sortable a {
    color: #F9F9F9 !important;
    font-weight: bold !important;
}

.pagebanner {
    font-size: 12px;
}